src/main/mule/hello1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d7956229-2aea-4303-969e-4897be32d4ec" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello1Flow" doc:id="6ff63cde-193b-4c15-96f8-882114399e18" >
		<http:listener doc:name="Listener" doc:id="1cc417f5-9494-45b9-bd91-9a6246d33fd4" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["Changed yo"]' doc:name="Set Payload" doc:id="6fd1b175-55c3-4df3-9813-27ac050209e5" />
	</flow>
</mule>
